* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(41, 41, 41);
  color: white;
  width: 100vw;
}

img {
  -webkit-user-drag: none;
}

#fullload {
  background-color: rgb(41, 41, 41);
  position: fixed;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
}

#tommy {
  border-radius: 50%;
  height: 7rem;
  border: solid 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: bordertom;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes bordertom {
  0% {
    border-color: rgb(253, 94, 2);
  }

  25% {
    border-color: rgb(104, 0, 165);

  }

  50% {
    border-color: rgb(0, 187, 140);

  }

  75% {
    border-color: rgb(0, 174, 255);

  }

  100% {
    border-color: rgb(253, 94, 2);

  }
}

#fullload h5 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 60, 0);
}

.side {
  background-color: rgb(253, 207, 2);
  width: 22rem;
  height: 49rem;
  transform: translate(-9rem, -9rem) rotate(30deg);
  position: fixed;
  z-index: -1;
  text-align: start;
}

.in {
  text-align: center;
  padding-top: 1rem;
  height: 7rem;
  width: 28rem;
  margin-top: 4rem;
  font-size: 2.8rem;
  font-family: sans-serif;
  font-weight: 800;
  color: rgb(0, 0, 0);
  border-radius: 10rem;
  font-style: italic;
  background-color: rgb(253, 207, 2);
  right: -8rem;
  transform: rotate(-30deg) translateY(10rem);
}

.in::before {
  content: 'Management System';
  display: grid;
  place-items: center;
  position: absolute;
  height: 8rem;
  width: 28rem;
  font-size: 1.9rem;
  font-family: calibri;
  font-weight: 600;
  color: rgb(255, 255, 255);
  z-index: 2;
}



#xplore {
  /* display: none; */
  padding: .5rem 3rem;
  letter-spacing: 3px;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 600;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  border: solid rgb(161, 161, 161) 1.3px;
  transition: color .3s;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 60%;
}

#xplore:hover {
  border: solid rgb(253, 207, 2) 1.3px;
  color: rgb(253, 207, 2);

}

.yelup img,
.yelup2 img {
  height: 2rem;
}

.yelup {
  width: 2rem;
  position: absolute;
  z-index: -1;
  right: 6rem;
  top: 15rem;
}

.yelup2 {
  width: 2rem;
  position: absolute;
  z-index: -1;
  right: 18rem;
  top: 37rem;
  transform: rotate(45deg);
}



.entry {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;


}

#signup {
  display: none;
}

#signup form>* {
  animation-name: trisection;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes trisection {
  0% {
    opacity: 0;
    transform: translateX(-3.5rem) rotate(-5deg);
  }

  50% {
    transform: translateY(0) rotate(0);

  }
}

#SN::-webkit-outer-spin-button,
#SN::-webkit-inner-spin-button,
#CNT::-webkit-outer-spin-button,
#CNT::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



#signup form {
  display: flex;
  place-items: center;
  justify-content: center;
}

#logn {
  position: relative;
  animation-name: smoothlog;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@keyframes smoothlog {
  0% {
    transform: translateX(3.5rem) rotate(5deg);
  }

  50% {
    transform: translateX(0) rotate(0);

  }
}

#logn form {
  overflow: hidden;
  border-radius: 1.5rem;
  padding: 3.5rem 3.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 1px solid rgba(255, 255, 255, 0.381);
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  position: relative;
}

/* #logn form{
  border: 1px solid rgba(255, 255, 255, 0.381);

} */
#logn form input,
#signup input,
#YL,
#GN {
  color: rgb(235, 235, 235);
  height: 2.4rem;
  padding: 0 2.4rem;
  width: 12rem;
  border-radius: 13px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: rgb(41, 41, 41);
  border: 1px solid rgba(85, 85, 85, 0.85);
}

#YL {
  color: rgb(128, 128, 128);

}

#GN {
  color: rgb(128, 128, 128);

}

#signup form textarea {
  color: rgb(255, 255, 255);
  padding: 1rem 2.4rem;
  height: 3rem;
  width: 12rem;
  resize: none;
  border-radius: 13px;
  backdrop-filter: blur(13.1px);
  -webkit-backdrop-filter: blur(13.1px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: rgb(41, 41, 41);
  border: 1px solid rgba(85, 85, 85, 0.85);
}

textarea::-webkit-scrollbar {
  display: none;
}

#ch,
#ch2 {
  visibility: hidden;
  position: absolute;
}

#btlog,
#btsign {
  width: 100%;
  border-radius: 3px;
  height: 2.5rem;
  font-size: 1rem;
  letter-spacing: 2px;
}

#logn {
  display: grid;
  place-items: center;
}

#logn h2 {
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  font-family: arial;
}


.betlogin,
.betsign {

  margin-top: .1rem;
  row-gap: 1rem;
  display: grid;
  place-items: center;
}

.betlogin .top,
.betsign .top {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.betlogin label,
.betsign label,
.betlogin button,
.betsign button {
  background-color: rgb(41, 41, 41);
  display: grid;
  place-items: center;
  border: none;
  transition: color .3s;
  color: white;
  border: 1px solid rgba(85, 85, 85, 0.85);
}


.betlogin .top label,
.betsign .top label {
  height: 1.8rem;
}

.betlogin .top label a,
.betsign .top label a {
  height: 1.8rem;
  width: 100%;
  display: grid;
  place-items: center;
}


.betsign {
  width: 100%;
}

.betlogin .top>:nth-child(2):hover a {
  color: rgb(253, 207, 2);
  cursor: pointer;
}

.betsign .top>:nth-child(1):hover a {
  color: rgb(253, 207, 2);
  cursor: pointer;
}

/*
  ---------next and back buton
*/
/* #nextToFill{
  transition: .3s ease-in;
  height:2rem;
  width:6rem;
  border-radius:.5rem;
  border:solid .1px ;
  color:white;
  margin-top:1rem;
  background:rgb(0 191 224 / 46%);
  animation-name:nx;
  animation-duration:1s;
  animation-iteration-count:infinite;
  position:relative;
}
#nextToFill:hover{
  cursor: pointer;
  background-color: #3498db;
} */

#btlog,
#btsign {
  transition: box-shadow .3s;
}

#btlog:hover {
  cursor: pointer;
  box-shadow: inset 6rem 0 0 rgb(161, 161, 161);
}


#btsign a {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#btsign:hover {
  cursor: pointer;
  box-shadow: inset 6rem 0 0 rgb(161, 161, 161);
}

#contentry {
  /* position: ; */
  height: 100vh;
  width: 100vw;
}

.icon-input-container {
  position: relative;
  display: inline-block;
}

.icon-input-container i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  z-index: 1;
}

.icon-input-container input {
  padding-left: 30px;
  backdrop-filter: blur(13.1px);
  -webkit-backdrop-filter: blur(13.1px);
}

.overlaylogn {
  height: 100vh;
  width: 100vw;
  display: none;
  position: absolute;
  background-color: rgba(17, 18, 20, 0.556);

}

.entry {
  display: none;
}

.entry2 {
  display: block;
}

.ovdaw {
  display: block;
}

.but {
  display: block;
}

.st {
  display: none;
}


.noepek {
  opacity: 30%;
  font-family: sans-serif;
  font-size: .8rem;
}

#signupResponse1stsection,
#signupResponse2ndsection,
#signupResponselastsection {
  color: rgb(0 195 17);
  font-family: sans-serif;

}

#signupResponse1stsection > * , #signupResponse2ndsection > *,
#signupResponselastsection > *{
  animation-name: responseSignup;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@keyframes responseSignup {
  0% {
    opacity: 50%;
    transform: translateX(-1.5rem);
  }
}

.nxbk i,
.lasti i {
  cursor: pointer;
  transition: .3s;
  height: 1rem;
  width: 1rem;
  border: solid .1px;
  border-radius: 50%;
}

#sim {
  opacity: 50%;
}

.lasti i:hover {
  color: rgb(161, 161, 161) !important;
  cursor: pointer;
}

.nxbk i:hover {
  color: rgb(161, 161, 161) !important;
}

.nxbk {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nxbk button {
  border-radius: .5rem;
  height: 2rem;
  width: 3rem;
  border: solid .1px rgba(255, 255, 255, 0.644);
  /* font-family: sans-serif; */
  font-size: .8rem;
  font-variant: small-caps;
  color: #fff;
  cursor: pointer;
}

#nextToSecond,
#backToSecond {
  background-color: #85858588;
  opacity: 50%;
  transform: translateX(5rem);
}

#backToFirst,
#nextToLast {
  background-color: #85858588;
  opacity: 50%;

}

#backToFirst,
#backToSecond {
  opacity: 100% !important;
}

.newFirst {
  animation-name: newF;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  background-color: #007fe7c5 !important;
  opacity: 100% !important;
}

.newSecond {
  animation-name: newS;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  background-color: #007fe7c5 !important;
  opacity: 100% !important;
}



@keyframes newF {
  0% {
    box-shadow: 0 0 .5rem .5rem #ffffff57;

  }

  50% {}
}

@keyframes newS {
  0% {
    box-shadow: 0 0 .5rem .5rem #ffffff57;

  }

  50% {}
}


/* #firstSectionButtonControll button:nth-child(1){
  opacity: 50%;
  background-color: gray;
} */
.lasti {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}



#first {
  padding: 3.5rem 3.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 1px solid rgba(255, 255, 255, 0.381) !important;
  text-align: center;
  display: flex;
  place-items: center;
  flex-direction: column;
  row-gap: 11px;
  width: 20rem;
}

#second>* {
  margin-bottom: 11px;
}

#second {
  padding: 3.5rem 3.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 1px solid rgba(255, 255, 255, 0.381) !important;
  text-align: center;
  place-items: center;
  width: 20rem;
  display: none;
}


#last {
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 1px solid rgba(255, 255, 255, 0.381) !important;
  text-align: center;
  place-items: center;
  flex-direction: column;
  row-gap: 11px;
  width: 20rem;
  display: none;
}

#last .balotlast {
  display: grid;
  padding: 3.5rem 3.5rem;
  row-gap: .5rem;
}

.picpackall {
  display: grid;
  place-items: center;
  width: 1;
}

.packim {
  height: 6rem;
  width: 6rem;
  border: solid 1px #fff;
  border-radius: 50%;
  place-items: end;
}

.packim li {
  height: 100%;
  width: 100%;
  display: grid;
  position: relative;
  place-items: center;
}

.packim li img {
  height: 5.69rem;
  width: 5.69rem;
  border-radius: 50%;
}

.packim label {
  position: absolute;
}

.packim .plus {
  background-color: rgb(51, 63, 80);
  height: 1.5rem;
  cursor: pointer;
  width: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: .3s;
  top: 80%;
  right: .5rem;
}

#image {
  visibility: hidden;
  position: absolute;
  z-index: -2;
}


.packim .plus:hover {
  transform: scale(.8);
}

.packim .plus:hover img {
  transform: rotate(180deg);
}

.packim .plus img {
  transition: transform .3s;
  height: 80%;
  width: 80%;
}







/* frjs */

.one {
  display: none !important;
}

.two {
  display: grid !important;
}

.tri {
  display: flex !important;
}



.ml {

  color: #3498db;
}

.ml,
.fm {
  column-gap: 4px;
  display: flex;
  justify-content: center;
  place-items: center;
}

.fm {
  color: #ff69b4;

}




a {
  font-size: .8rem;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  transition: color .3s;
}

#loginErrors h4 {
  animation-name: errorpr;
  animation-duration: .5s;
  animation-iteration-count: 1;

}

@keyframes errorpr {
  0% {
    opacity: 0;
    transform: translateX(-1.5rem);
  }
}

.redirect {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgb(41, 41, 41);

}

.redirect-inner {
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;

}

.redirect-inner button {
  height: 4rem;
  cursor: pointer;
  transition: .3s;
  color: white;
  border: 1px solid rgb(255 255 255 / 57%) !important;
  width: 8rem;
  border-radius: .5rem;
  animation-name: ask;
  animation-duration: .8s;
  animation-iteration-count: 1;
}

@keyframes ask {
  0% {
    opacity: 50%;
    transform: translateX(-2rem);
  }
}

.redirect-inner button:nth-child(1) {
  background: rgb(11 117 248 / 30%);
}

.redirect-inner button:nth-child(2) {
  background: rgb(11 117 248 / 73%);
}



.redirect-inner button:hover {
  transform: scale(.85);
}





.outlosd,
.outlosdsign {
  background-color: rgb(41, 41, 41);
  position: absolute;
  display: none;
  z-index: 3;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.innerloadsd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  display: flex;
  justify-content: center;
}

.bar {
  width: 7px;
  height: 18px;
  margin: 0 9px;
  border-radius: 10px;
  animation: loading_5192 1s ease-in-out infinite;
  background-color: aqua;
}

.bar:nth-child(1) {
  animation-delay: 0.01s;
}

.bar:nth-child(2) {
  animation-delay: 0.09s;
}

.bar:nth-child(3) {
  animation-delay: 0.19s;
}

.bar:nth-child(4) {
  animation-delay: 0.29s;
}

@keyframes loading_5192 {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1, 2.5);
  }

  40% {
    transform: scale(1);
  }
}