* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    color: rgb(223, 223, 223);

}

#fullload {
    position: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
}

#tommy {
    border-radius: 50%;
    height: 7rem;
    border: solid 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fullload h5 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 60, 0);
}

.outlosd,
.outlosdrm,
.outlosdrmqrm,
.outlosdvw,
.outlosdviewinfo,
.outlosdadd {
    background-color: rgb(41, 41, 41);
    position: absolute;
    z-index: 2;
    display: none;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.innerloadsd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    display: flex;
    justify-content: center;
}

.bar {
    width: 7px;
    height: 18px;
    margin: 0 9px;
    border-radius: 10px;
    animation: loading_5192 1s ease-in-out infinite;
    background-color: aqua;
}

.bar:nth-child(1) {
    animation-delay: 0.01s;
}

.bar:nth-child(2) {
    animation-delay: 0.09s;
}

.bar:nth-child(3) {
    animation-delay: 0.19s;
}

.bar:nth-child(4) {
    animation-delay: 0.29s;
}

@keyframes loading_5192 {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1, 2.5);
    }

    40% {
        transform: scale(1);
    }
}

/* 
.outlast{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}
.wrloadr{
    background-color: rgb(41, 41, 41);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.loader {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
  }
  
  .loader div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #90e7e7;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  
  .loader div:nth-child(1) {
    left: 8px;
    animation: flip1 0.6s infinite;
  }
  
  .loader div:nth-child(2) {
    left: 8px;
    animation: flip2 0.6s infinite;
  }
  
  .loader div:nth-child(3) {
    left: 32px;
    animation: flip2 0.6s infinite;
  }
  
  .loader div:nth-child(4) {
    left: 56px;
    animation: flip3 0.6s infinite;
  }
  
  @keyframes flip1 {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes flip3 {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes flip2 {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(24px, 0);
    }
  } */


.profSide {
    display: grid;
    place-items: center;
    padding: 1.5rem 0;
}

.profSide h2 {
    position: relative;
    display: grid;
    font-size: 1.4rem;
    place-items: center;
}

.outside {
    z-index: 6;
    height: 100vh;
    position: relative;
    transition: .3s;
    width: 0;
}

.newAll .outside {
    width: 13rem;
}


.newAll .sideP {
    transform: translateX(0);
}

.sideP {
    transform: translateX(-8rem);
    transition: .3s;
    padding: 0 3rem;
    width: 100%;
    height: 100vh;
    background-color: rgb(57, 57, 57);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    place-items: center;
    z-index: 2;
    position: relative;
}



.lardgeSide {
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    place-items: center;
    width: 100%;
}




#content>* {
    /* animation-name: porolnav; */
    /* animation-duration: 1s;
    animation-iteration-count: 1; */
}

@keyframes porolnav {
    0% {
        transform: translateY(5rem);
    }

    50% {
        transform: translateY(0);

    }
}

#content {

    width: 100%;
    margin-top: 6rem;
}


.bck {
    position: absolute;
    width: 100%;
    height: 3rem;
    background-color: rgb(57, 57, 57);

}




#sidepic {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.profSide h2::before {
    position: absolute;
    font-style: italic;
    font-size: .9rem;
    bottom: -12px;
    color: rgb(253, 94, 2);
}

.sideP ul {
    display: grid;
    row-gap: .5rem;
    /* z-index: 1; */

}


.sideP ul label {
    cursor: pointer;
    height: 2.5rem;
    width: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: 2rem auto;
    justify-content: start;
    list-style: none;
    color: rgb(223, 223, 223);
    column-gap: .3rem;
    position: relative;
    text-transform: capitalize;
    border-radius: .3rem;
    padding: 0 .3rem;
    /* transition:  .4s; */
}


.on a {
    color: rgb(253, 94, 2) !important;
}

.on {
    transition: background-color 0.5s ease;
    border: solid .1px rgba(253, 94, 2, 0.562);
    background-color: rgb(41, 41, 41);
    z-index: 1;
    color: rgb(253, 94, 2) !important;

}


.sideP ul label:hover {
    color: rgb(253, 94, 2);
}

.sideP ul label:hover a {
    color: rgb(253, 94, 2) !important;
}

.sideP ul label::after {
    position: absolute;
    content: '';
    border-radius: 10px;
    display: grid;
    place-items: center;
    transition: .4s;
}




.head {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: rgb(57, 57, 57);
}






#sideCheck {
    position: absolute;
    visibility: hidden;
}

.cards {
    margin: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.cards li {
    list-style: none;
    width: 19rem;
    height: 6rem;
    background-color: rgb(57, 57, 57);
    border: .1px solid rgba(255, 255, 255, 0.089);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;

}

.cards li::after {
    position: absolute;
    height: 3.5rem;
    width: 1.5rem;
    content: '';
    left: -.08rem;
    top: -1.8rem;
    transform: rotate(45deg);
}

.cards li:nth-child(1):after {

    background-color: rgb(0, 191, 224);
}

.cards li:nth-child(2):after {
    background-color: rgb(0, 187, 140);

}

.cards li:nth-child(3):after {
    background: linear-gradient(145deg, red, black);

}

.cards li:nth-child(4):after {
    background-color: rgb(104, 0, 165);

}

.mgs {
    display: grid;
    place-items: center;
}

.mgs h4 {
    font-size: 1.8rem;
}

.mgs p {
    font-style: italic;
}

.cards li i {
    background-color: rgb(223, 223, 223);
    color: rgb(57, 57, 57);
    border: solid 3px rgb(116, 116, 116);
    bottom: -.8rem;
    left: -.8rem;
    position: absolute;
    font-size: 2.3rem;
    height: 4.6rem;
    width: 4.6rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

#myChart {
    background-color: rgb(57, 57, 57);
    border: .1px solid rgba(255, 255, 255, 0.089);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.middleC {
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}

.status {
    text-align: center;
    border-radius: .3rem;
    height: 18.7rem;
    width: 19rem;
    padding: 1rem .3rem;
    background-color: rgb(57, 57, 57);
    border: .1px solid rgba(255, 255, 255, 0.089);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


.status .headStatus {

    margin-top: 1.5rem;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    column-gap: .8rem;
}

.status .headStatus label {
    padding: .3rem;
    transition: .3s;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    display: grid;
    place-items: center;
}

.status .headStatus label::after {
    content: '';
    position: absolute;
    transition: .3s;
    width: 0;
    display: grid;
    place-items: center;
    height: 3px;
    background-color: rgb(253, 94, 2);
    bottom: -3px;
    border-radius: 8px;
}

.status .headStatus label:hover::after {
    width: 100%;
}

.status .headStatus label:hover {
    color: rgb(253, 94, 2);
}



#toplab2:hover {
    cursor: ew-resize;
    color: rgb(253, 94, 2);
}

#toplab2 {
    position: absolute;
    user-select: none;
    left: 0;
    width: 6rem;
    height: 100%;
    display: grid;
    place-items: center;
    letter-spacing: 1px;
    transition: .3s;
}

.calendar {
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: flex;
    height: 10rem;
    width: 19rem;
    background-color: rgb(57, 57, 57);
    border: .1px solid rgba(255, 255, 255, 0.089);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#day {
    font-size: 4rem;
}

#month {
    font-size: 1.2rem;
}

.mNy {
    font-style: italic;
    right: 1rem;
    top: 1rem;
    color: rgb(0, 174, 255);
}

#weekday {
    font-style: italic;
    color: rgb(223, 223, 223);

}

.oberlay {
    position: absolute;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.49);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}

.oberlay::-webkit-scrollbar {
    visibility: hidden;
}


a {
    text-decoration: none;
    color: rgb(223, 223, 223);
}









/* coordinators */
#coordinators .coordinators-inner {

    flex-direction: column;
    place-items: center;
    row-gap: 3rem;
    display: grid;
}

#coordinators {
    width: 100%;
    display: none;



}

.searchd {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    place-items: center;
}

.lodst {
    position: absolute;
    height: 6rem;
    width: 10rem;
    left: 50%;
    top: -4rem;
    z-index: -1;
    display: grid;
    place-items: center;
    transform: translate(-50%, 0);
}

.lodst span {
    position: absolute;
    height: 5rem;
    width: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: -1;
    border-radius: 50%;
    background-color: rgba(223, 223, 223, 0.575);
    animation-name: ld;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: grid;
    place-items: center;
    opacity: 0;
}

@keyframes ld {
    0% {
        height: 2rem;
        width: 2rem;
        opacity: 1;
    }

    50% {
        height: 5rem;
        opacity: 0;
        width: 5rem;
    }
}

.searchd .btad i {
    font-size: 2rem;
}

.searchd input {
    padding: 0 2rem 0 2.7rem;
    width: 20rem;
    border-radius: 3rem;
    height: 2.2rem;
    background-color: rgb(57, 57, 57);
    color: rgb(223, 223, 223);
    border: solid .1px rgba(223, 223, 223, 0.308);

}

.searchd button {
    cursor: pointer;
    border-radius: .5rem;
    height: 2rem;
    width: 8rem;
    background-color: rgb(57, 57, 57);
    color: rgb(223, 223, 223);
    border: solid .1px;
}

.searchd button:hover {
    animation-name: buthov;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes buthov {

    0%,
    100% {
        color: rgb(223, 223, 223);
        border-color: transparent;
    }

    50% {
        border-color: rgb(223, 223, 223);
        color: transparent;
    }

}

.searchd>* {
    position: relative;
    width: fit-content;
}

.searchd #searchForm i {
    position: absolute;
    top: 50%;
    transform: translate(1rem, -50%);
}

#coordinators ul {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 1rem;
}

#coordinators li {
    position: relative;
    border-radius: .3rem 3rem;
    height: 8rem;
    width: 9rem;
    display: grid;
    place-items: center;
    background: rgba(22, 22, 22, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(179, 179, 179, 0.16);
    overflow: hidden;
    animation-name: smootlidp;
    animation-iteration-count: 1;
    animation-duration: .5s;

}

@keyframes smootlidp {
    0% {
        opacity: 0;
    }
}

#coordinators li::after {
    top: -1.5rem;
    left: -1.5rem;
    content: "";
    height: 3rem;
    width: 3rem;
    background-color: rgb(0, 187, 140);
    position: absolute;
    border-radius: 50%;
}

#coordinators li #men {
    cursor: pointer;
    height: 1.4rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 1.4rem;
    background-color: rgba(43, 43, 43, 0.568);
    top: 4px;
    left: 4px;
    z-index: 2;
    outline: solid .1px rgba(161, 161, 161, 0.336);
    position: absolute;
    transition: .2s;
}

#coordinators li #men:hover {
    background-color: rgba(2, 2, 2, 0.774);

}

#coordinators li .pfront {
    display: grid;
    place-items: center;
}

.pfrparent {
    opacity: 1;
    display: block;
    position: relative;
    z-index: -1;
}

/* @initial{
    .sb{
        opacity: 1;
    }
} */

#coordinators li .pfront h4 {
    margin-top: .5rem;
}

#coordinators li .pfront p {
    font-variant: small-caps;
    text-align: center;
    color: rgb(0, 187, 140);
    font-style: italic;
}

#coordinators li img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: solid 3px rgb(223, 223, 223);
}

.primaryask img,
.secondaryaskedit img {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    border: solid 3px rgb(223, 223, 223);

}

.grupi {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .4s;
    background-color: rgba(0, 0, 0, 0.808);
    backdrop-filter: blur(3px);

    display: none;
}

.grupiNew {
    display: block;
}

.showact {
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    column-gap: .2rem;

}



.showact>* {
    border-radius: .4rem;
    display: grid;
    place-items: center;
    height: 2.5rem;
    width: 2.5rem;
    outline: solid .1px rgba(161, 161, 161, 0.336);
    transition: .2s;
    font-size: .8rem;
    cursor: pointer;


}

.showact>*:nth-child(1):hover {

    border: solid .1px rgba(255, 255, 255, 0.445);
    background-color: rgba(2, 136, 189, 0.377);
}

.showact>*:nth-child(2):hover {

    border: solid .1px rgba(255, 255, 255, 0.445);
    background-color: rgba(233, 0, 0, 0.479);
}

.showact>*:nth-child(3):hover {

    border: solid .1px rgba(255, 255, 255, 0.445);
    background-color: rgba(223, 223, 223, 0.438);
}

/* .showact>*:hover {
} */




#cont-removeform,
#cont-confirmforedit {
    border-radius: 1rem;
    height: fit-content;
    width: 18rem;
    overflow: hidden;
    position: relative;

}



.editcoor-inner {
    background: rgb(0, 0, 0);
    height: 100%;
    padding: 3rem 1.5rem;
    width: 18rem;
    display: grid;
    place-items: center;
    border-radius: .8rem;
    display: none;
    border: 1px solid rgba(243, 243, 243, 0.377);


}

/* .editform {
    display: grid;
    place-items: center;
    row-gap: 1rem;
} */

.inputeditcont {
    display: flex;
    position: relative;
}

.inputeditcont i {
    top: 50%;
    left: 1rem;
    transform: translate(-50%, -50%);
    position: absolute;
}

.chpic {
    row-gap: .5rem;
    display: grid;
    place-items: center;
    width: 100%;
}

.chpic label {
    outline: solid .1px rgba(223, 223, 223, 0.438);
    padding: .3rem .8rem;
    border-radius: .2rem;
    font-size: .7rem;
    background-color: rgb(49, 48, 48);
}


/* 
.editform img,
#profdisplay3 {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: solid .2rem rgb(223, 223, 223);
} */
/* 
.editform form {
    display: grid;
    place-items: center;
    row-gap: 1rem;
} */

#cont-addcoor {
    border-radius: 2rem;
    animation-name: addporm;
}

.editcoor-inner {
    background: linear-gradient(transparent, rgb(0 0 0 / 70%)) !important;

}

.addcoor-inner,
.editcoor-inner {
    min-height: 18rem;
    display: grid;
    place-items: center;
    padding: 2rem .5rem;
    height: fit-content;
    width: fit-content;
    max-width: 37rem;
    min-width: 21rem;
    overflow: hidden;
}

#back {
    position: absolute;
    right: -.6rem;
    top: -.6rem;
    font-size: 1.7rem;
    transition: .3s;
}

#back:hover {
    color: red;
    cursor: pointer;
}

.addcoor-inner form {
    display: grid;
    place-items: center;
    gap: 1rem;
}

.addcoor-inner form .inptcont,
.editcoor-inner form .inptcont {
    width: fit-content;
    position: relative;
}

.addcoor-inner form i,
.editcoor-inner form i {
    border-radius: 2rem;
    top: 50%;
    left: 1rem;
    transform: translate(-50%, -50%);
    position: absolute;
    /* background-color: rgb(223, 223, 223);
    height: 1rem;
    width: 1rem; */
}

.tabinedit {
    margin-bottom: 2rem;
}

.tabinedit button:nth-child(1) {
    background-color: rgb(193, 77, 0);
    /* opacity: 40%; */
}

.tabinedit button:nth-child(2) {}

.tabinedit button {
    cursor: pointer;
    font-size: .85rem;
    height: 2rem;
    width: 9rem;
    border-radius: .3rem;
    background-color: transparent;
    color: rgb(223, 223, 223);
    border: solid .1px rgba(223, 223, 223, 0.56);

}

.tabinedit button:hover {
    background-color: rgb(193, 77, 0) !important;
}

.primaryask,
.primaryaskedit {
    display: grid;
    place-items: center;
    row-gap: .5rem;
}

.formsact {
    position: relative;
    width: 100%;

}

.editcoor-inner form {
    display: flex;
    flex-direction: column;

}

.loadingSc {

    display: none;
    z-index: 2;
    position: absolute;
    /* display: ; */
    width: 100%;
    height: 100%;

}

.loadingSc-inner {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    /* position: absolute; */
    /* width: fit-content; */
}

.eloader2 {
    width: 48px;
    height: 48px;
    border: 3px dotted #fff;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.eloader2::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #ff3d00;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}




.secondaryask,
.secondaryaskedit-inner {
    display: flex;
    margin: 0 1rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.addcoor-inner .secondaryask h3 {
    text-align: center;
    width: 100%;
}

.addcoor-inner form input,
.editcoor-inner form input {
    color: rgb(223, 223, 223);
    background-color: rgb(251 251 251 / 0%);
    border: solid .1px rgba(223, 223, 223, 0.307);
    height: 2rem;
    border-radius: .2rem;
    padding: 0 2rem;
}



.addcoor-inner .coradbut label {
    font-variant: small-caps;
    font-style: italic;
    display: grid;
    place-items: center;
    height: 2rem;
    width: 8rem;
    background-color: rgba(116, 116, 116, 0.2);
    border: solid .1px rgba(223, 223, 223, 0.552);
    border-radius: .5rem;
    cursor: pointer;
    background-color: rgba(0, 252, 189, 0.289);
    transition: .3s;
}



.addcoor-inner .coradbut label:hover {
    background-color: rgba(3, 210, 158, 0.679);
}











/* .editform #changep, */
#changep2,
#changep3 {
    position: absolute;
    visibility: hidden;
}

.editcoor-inner .coradbut2 button {
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: .9rem;
    width: 6rem;
    font-style: italic;
    font-variant: small-caps;
    border-radius: .3rem;
    border: solid .1px rgba(223, 223, 223, 0.479);
    height: 1.5rem;
    color: rgb(223, 223, 223);
    background-color: rgba(2, 136, 189, 0.377);
    transition: background-color .2s;
}

.editcoor-inner .coradbut label:hover {
    background-color: rgba(2, 136, 189, 0.842);

}










.removeform,
.innerforeditform {
    height: 100%;
    display: grid;
    padding: 3rem 0;
    place-items: center;

}

.removeform form,
.innerforeditform form {
    display: grid;
    place-items: center;
    row-gap: 1rem;
}

.wr {
    position: relative;

}

.wr i {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    transform: translate(-50%, -50%);
}

#pwdd,
#uname,
#conftopass {
    color: rgb(223, 223, 223);
    padding: 0 2rem;
    height: 2rem;
    width: 13rem;
    border-radius: .8rem;
    background-color: transparent;
    border: solid .1px rgba(223, 223, 223, 0.541);
}

.removeform form button {
    cursor: pointer;
    color: rgb(223, 223, 223);
    border: solid .1px rgba(223, 223, 223, 0.616);
    border-radius: .5rem;
    height: 2rem;
    width: 6rem;
    background-color: rgba(233, 0, 0, 0.315);
    transition: .2s;
}

.removeform form button:hover {
    background-color: rgba(238, 0, 0, 0.658);

}


#cont-editform {
    animation-name: editporm;

}

#cont-removeform {
    animation-name: remporm;

}

.secondaryaskedit {}


#addNewcoor {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
}

.coradbut {
    display: flex;
    justify-content: center;
    width: 100%;
    place-items: center;
}

#cont-removeform,
#cont-viewinform,
#cont-addcoor,
#cont-confirmforedit {
    background: linear-gradient(transparent, rgb(0 0 0 / 70%)) !important;
    border: 1px solid rgba(243, 243, 243, 0.377);

}

#cont-editform,
#cont-removeform,
#cont-viewinform,
#cont-addcoor,
#cont-confirmforedit {
    z-index: 4;
    animation-duration: .3s;
    animation-iteration-count: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(9px);
    /* overflow: hidden; */
    display: none;


}

#cont-confirmforedit {
    animation-name: reqdit;

}

#cont-confirmforedit #ver {
    height: 1.5rem;
    width: 5rem;
    border-radius: .5rem;
    border: solid .1px rgba(243, 243, 243, 0.377);
    background-color: rgba(2, 136, 189, 0.377);
    color: rgb(223, 223, 223);
    font-variant: small-caps;
    font-style: italic;
    animation-name: verifybl;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    cursor: pointer;

}

@keyframes verifybl {
    0% {}

    50% {
        opacity: 50%;
    }
}


@keyframes reqdit {
    0% {
        left: 35%;
    }

}

@keyframes addporm {
    0% {
        top: 35%;
    }

}

@keyframes editporm {
    0% {
        left: 35%;
    }

}


@keyframes remporm {
    0% {
        left: 65%;
    }


}

@keyframes viewporm {
    0% {
        top: 45%;
    }

}

#overlayform,
#overlayform2 {
    z-index: 4;
    position: fixed;
    display: none;
    backdrop-filter: blur(3px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;

}

#overlayform {
    background-color: rgba(124, 170, 255, 0.089);

}

#overlayform2 {
    background-color: rgb(0 0 0 / 79%);

}

#cont-viewinform {
    animation-name: viewporm;
    animation-duration: .5s;
    animation-iteration-count: 1;
    padding: 3rem 0;
    height: fit-content;
    width: 17rem;
    border-radius: .5rem .5rem 8rem 8rem;
    overflow: hidden;
}



#cont-viewinform::after {
    position: absolute;
    content: '';
    height: 13rem;
    width: 3rem;
    background-color: rgb(0, 187, 140);
    top: -4rem;
    transform: rotate(45deg);
    animation-name: banneraft;
    animation-duration: .8s;
    animation-iteration-count: 1;
}

#cont-viewinform::before {
    position: absolute;
    content: '';
    height: 13rem;
    width: 3rem;
    background-color: rgb(0, 187, 140);
    top: -4rem;
    right: 0;
    transform: rotate(-45deg);
    animation-name: bannerbef;
    animation-duration: .8s;
    animation-iteration-count: 1;

}

@keyframes bannerbef {
    0% {
        top: -15rem;
    }

    50% {
        top: -4rem;
    }
}

@keyframes banneraft {
    0% {
        top: -15rem;
    }

    50% {
        top: -4rem;
    }
}

.viewinform {
    row-gap: 1rem;
    place-items: center;
    display: grid;
}

.viewinform h2 {
    font-variant: small-caps;
    text-align: center;
    font-size: 1.2rem;
    text-transform: lowercase;
    color: rgb(235 235 235);
}

.viewinform #vinfo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: solid .2rem rgb(0, 187, 140);
    transition: .3s;
}

.viewinform #vinfo:hover {
    transform: scale(1.5);
}

.inforsonal {
    display: grid;
    row-gap: .5rem;
}

.inforsonal p {
    text-align: center;
    display: grid;
    color: rgb(0, 174, 255);
    font-size: 1rem;
}

.inforsonal span {
    font-size: .9rem;
    color: rgba(223, 223, 223, 0.664);
}

#errorDisplay,
#secondaryErrorDisplay {
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;
}

#reqeditresponse p {
    text-align: center;

}




.addedsuc h1,
.addedsuc2 h1 {
    /* text-align: center; */
    font-variant: small-caps;
    text-transform:lowercase;

    color: #009fff99;
}
.addedsuc2 h3 {
    text-transform:lowercase;
    font-variant: small-caps;
    color: #23e155ad;
    font-style: italic;
}

.addedsuc,
.addedsuc2 {
    position: absolute;
    display: none;
    height: fit-content;
    padding: 2rem 0;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, transparent, rgba(49, 79, 104, 0.628), rgb(44, 80, 104), rgba(40, 56, 69, 0.628), transparent);
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-name: spread;
    overflow: hidden;
    z-index: 4;
}
.name h3{
    font-variant: small-caps;
}
@keyframes spread {
    0% {
        width: 0;
    }
}

.name {
    text-align: start;
    animation-name: poptxt;
    animation-duration: 1s;
    animation-iteration-count: 1;
    display: grid;
    place-items: center;

}



@keyframes poptxt {
    0% {
        transform: translateX(1.5rem);
        opacity: 0;
    }

    40% {
        transform: translateX(1.5rem);
        opacity: 0;

    }
}

.pannelanim {
    height: 100%;
    place-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* animation-name: showuplast;
    animation-duration: .5s;
    animation-iteration-count: 1; */
}

@keyframes showuplast {
    0% {
        opacity: 0%;
    }
}

.showsuc {
    display: block !important;
}

/* #ds1 {
    z-index: 1;
    height: 5rem;
    top: 100%;
    transform: rotate(14.5deg) translate(-50%,-50%);
    left:40%;
    position: absolute;
    animation-name: added;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
}
.imgpart{
    position: relative;

}

@keyframes added {
    0% {
        top: 150%;
    }

    30% {
        top: 150%;

    }

    85% {
        top: 150%;

    }
} */
/* 
.distributed h3 span {
    color: rgb(0, 174, 255);
}

.distributed h3 {
    font-style: italic;
    font-variant: small-caps;
}

.distributed {
    margin-top: 2rem;
    display: inline-block;
    place-items: center;
    row-gap: 1rem;
}

.distributed #blinkround {
    height: 2.5rem;
    border-radius: 50%;
    width: 2.5rem;
    background-color: rgb(0, 187, 140);
    animation-name: bxbad;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bxbad {
    0% {
        box-shadow: 0 0 0 0;
    }

    50% {
        box-shadow: 0 0 0 16px rgba(0, 187, 140, 0);

    }
} */

#primaryErrorDisplay,
#secondaryErrorDisplay {
    font-size: .9rem;
    text-align: center;
    padding: .5rem 0;
}

#displayaddanim {
    width: 10rem;
    max-height: 13rem;
    border-radius: 1rem 3rem;
    border: solid 2px rgb(143, 158, 173);
    animation-name: pop;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes pop {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    40% {
        transform: translateY(1rem);
        opacity: 0;

    }
}

#responsetodel {
    text-align: center;
}

#done,
#done2 {
    height: 2.5rem;
    width: 8rem;
    background: rgba(0, 101, 216, 0.13);
    border: solid .1px rgb(255, 255, 255);
    border-radius: 1.5rem;
    color: rgb(223, 223, 223);
    font-size: .95rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: .3s;

}



#done:hover {
    transform: scale(.9);
}






@media screen and (max-width:665px) {
    .outside {
        /* z-index: 2; */
        position: fixed;
    }

    .newAll #toplab2 {
        left: 13rem;
    }

    #toplab2 {
        left: 0;

    }

    .newAll .oberlay {
        width: 100%;

    }

    .searchd input {
        width: 16rem;
        padding: 0 1rem 0 2.8rem;

    }


}