.status .headStatus button::after {
    background-color: rgb(0, 187, 140) !important;
}

.status .headStatus button:hover {
    color: rgb(0, 187, 140) !important;
}

.status .headStatus button:hover {
    color: rgb(0, 187, 140) !important;
}

.on-status-button {

    color: rgb(0, 187, 140) !important;
}

#toplab2:hover {
    cursor: ew-resize;
    color: rgb(0, 187, 140) !important;
}

.sideP ul a:hover {
    color: rgb(0, 187, 140);
}

.sideP ul a:hover a {
    color: rgb(0, 187, 140) !important;
}

.on {
    color: rgb(0, 187, 140) !important;

}

#toplab2:hover {
    cursor: ew-resize;
    color: rgb(0, 187, 140);
}

.profSide h2::before {

    color: rgb(0, 187, 140);
}






.request-inner {
    display: grid;
    place-items: center;
}

.dashEme {
    border-radius: .3rem;
    height: 4.5rem;
    width: 19rem;
    background-color: rgb(57, 57, 57);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(179, 179, 179, 0.16);
    display: grid;
    place-items: center;

}

.dasheme-inner {
    width: fit-content;
    display: grid;
    place-items: center;

}

.contReq-out {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    overflow: hidden;
}

.contReq {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    width: 80vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.contReq::-webkit-scrollbar {
    display: none;
}

.contReq li {
    list-style: none;

}

.contReq .innerCount {
    scroll-snap-align: center;
    height: fit-content;
    border-radius: .5rem;
    padding: 2rem 1rem;
    text-align: center;
    display: grid;
    place-items: center;
    width: 10rem;
    position: relative;
    overflow: hidden;
    background: rgba(22, 22, 22, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(179, 179, 179, 0.16);
}

.contReq .innerCount::after {
    top: -1.3rem;
    left: -1rem;
    position: absolute;
    content: ' ';
    background: linear-gradient(315deg, black, rgb(255 187 0));
    height: 3.5rem;
    width: 2.5rem;
    transform: rotate(45deg);
}

.contReq .innerCount .profCred img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: solid 2px rgba(231, 231, 231, 0.61);
}

.action-to-req {
    display: grid;
    place-items: center;
    height: 7rem;
}

.action-to-req button {
    cursor: pointer;
    color: rgb(231, 231, 231);
    border-radius: .3rem;
    height: 1.5rem;
    width: 8rem;
    border: solid 1px rgba(214, 214, 214, 0.295);
}

#admit {
    background: rgba(6, 189, 143, 0.267);
}

#reject {
    background: rgba(189, 6, 6, 0.267);
}

#view {
    background: rgba(6, 64, 189, 0.267);
}

#admit:hover {
    background: rgba(6, 189, 143, 0.76);
}

#reject:hover {
    background: rgba(189, 6, 6, 0.61);
}

#view:hover {
    background: rgba(6, 64, 189, 0.678);
}


.records {
    width: 80%;
    margin-top: 4rem;
    text-align: center;
    height: 25vh;
    overflow-y: scroll;
}
.records::-webkit-scrollbar{
    display: none;
}


.records table {
    border-collapse: collapse;
    width: 100%;
}

.records th,
.records td {
    border: 1px solid rgba(179, 179, 179, 0.16);
    padding: 8px;
    text-align: left;
    font-weight: 100;
    font-size: .8rem ;

}

.records th {
    font-size: .9rem !important;
    background-color: rgb(57, 57, 57);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}
 

.progHead{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1rem;
}
.progHead button{
    padding: .3rem 1.5rem;
    border-radius: .5rem;
    border: 1px solid rgba(179, 179, 179, 0.377);
    color: white;
    background: transparent;
    cursor:pointer;

}
.progHead button:nth-child(1){
    background: rgba(179, 179, 179, 0.377);
}


.program-cont{
    height: 80vh;
    overflow-y: scroll;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    place-items: center;
    row-gap:1rem ;
}
.program-cont::-webkit-scrollbar{
    display: none;
}
.program-cont li{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    height: fit-content;
    padding: 2rem 0;
    width: 80%;
    background: rgba(22, 22, 22, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(179, 179, 179, 0.336);
    border-radius: .3rem;
    place-items: center;
    
}
.program-cont li > *{
    width: 15rem;
}
.firstInfo{
    display: grid;
    place-items: center;

}
.firstInfo p{
    color: #00b1ff;
}
.secondInfo{
    display: grid;
    place-items: center;
    row-gap: .3rem;
}
 
.secondInfo button{
    cursor:pointer;
    height: 1.8rem;
    width: 8rem;
    background: rgba(179, 179, 179, 0.377);
    border-radius: 1.5rem;
    border: 1px solid rgba(179, 179, 179, 0.562);
    color: white;

}
.firstInfo img{
    height: 3rem;
    width:  3rem;
    border-radius: 50%;
    border: 1px solid rgba(179, 179, 179, 0.562);

}



