.status .headStatus button::after {
    background-color: rgb(0, 187, 140) !important;
}

.status .headStatus button:hover {
    color: rgb(0, 187, 140) !important;
}

.status .headStatus button:hover {
    color: rgb(0, 187, 140) !important;
}

.on-status-button {

    color: rgb(0, 187, 140) !important;
}

#toplab2:hover {
    cursor: ew-resize;
    color: rgb(0, 187, 140) !important;
}

.sideP ul a:hover {
    color: rgb(0, 187, 140);
}

.sideP ul a:hover a {
    color: rgb(0, 187, 140) !important;
}

.on {
    color: rgb(0, 187, 140) !important;

}

#toplab2:hover {
    cursor: ew-resize;
    color: rgb(0, 187, 140);
}

.profSide h2::before {

    color: rgb(0, 187, 140);
}






.request-inner {
    display: grid;
    place-items: center;
}

.dashEme {
    border-radius: .3rem;
    height: 4.5rem;
    width: 19rem;
    background-color: rgb(57, 57, 57);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(179, 179, 179, 0.16);
    display: grid;
    place-items: center;
    position: relative;

}

.dasheme-inner {
    width: fit-content;
    display: grid;
    place-items: center;

}

.contReq-out {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    overflow: hidden;
}

.contReq {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    width: 80vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.contReq p{
    width: 100%;
    text-align: center;
    animation-name: pmsg;
    animation-duration: .3s;
    animation-iteration-count: 1;
}
@keyframes pmsg {
    0%{
        transform: translateX(-1rem);
    }
}

.contReq::-webkit-scrollbar {
    display: none;
}

.contReq li {
    list-style: none;

}

.contReq .innerCount {
    scroll-snap-align: center;
    height: fit-content;
    border-radius: .5rem;
    padding: 2rem 1rem;
    text-align: center;
    display: grid;
    place-items: center;
    width: 10rem;
    position: relative;
    overflow: hidden;
    background: rgba(22, 22, 22, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(179, 179, 179, 0.16);
}

.contReq .innerCount::after {
    top: -1.3rem;
    left: -1rem;
    position: absolute;
    content: ' ';
    background: linear-gradient(315deg, black, rgb(255 187 0));
    height: 3.5rem;
    width: 2.5rem;
    transform: rotate(45deg);
}

.contReq .innerCount .profCred img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: solid 2px rgba(231, 231, 231, 0.61);
}

.action-to-req {
    display: grid;
    place-items: center;
    height: 7rem;
}

.action-to-req button {
    cursor: pointer;
    color: rgb(231, 231, 231);
    border-radius: .3rem;
    height: 1.5rem;
    width: 8rem;
    border: solid 1px rgba(214, 214, 214, 0.295);
}

#admit {
    background: rgba(6, 189, 143, 0.267);
}

#reject {
    background: rgba(189, 6, 6, 0.267);
}

#view {
    background: rgba(6, 64, 189, 0.267);
}

#admit:hover {
    background: rgba(6, 189, 143, 0.76);
}

#reject:hover {
    background: rgba(189, 6, 6, 0.61);
}

#view:hover {
    background: rgba(6, 64, 189, 0.678);
}


.records {
    width: 80%;
    margin-top: 4rem;
    text-align: center;
    height: 25vh;
    overflow-y: scroll;
    padding-bottom: 4rem;

}

.records::-webkit-scrollbar {
    display: none;
}


.records table {
    border-collapse: collapse;
    width: 100%;
}

.records th,
.records td {
    border: 1px solid rgba(179, 179, 179, 0.16);
    padding: 8px;
    text-align: left;
    font-weight: 100;
    font-size: .8rem;

}

.records th {
    font-size: .9rem !important;
    background-color: rgb(57, 57, 57);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}


.cards li:nth-child(2):after {
    background: linear-gradient(145deg, red, black);
}



#openTr {
    background: rgba(95, 95, 95, 0.301);
    color: white;
    border: 1px solid rgba(179, 179, 179, 0.16);
    cursor: pointer;
    border-radius: .5rem;
    transition: .3s;
    font-variant: small-caps;
}

#openTr:hover {
    background: rgba(4, 151, 53, 0.664);
}
#closeTr {
    background: rgba(95, 95, 95, 0.301);
    color: white;
    border: 1px solid rgba(179, 179, 179, 0.16);
    cursor: pointer;
    border-radius: .5rem;
    transition: .3s;
    font-variant: small-caps;
}

#closeTr:hover {
    background: rgba(95, 95, 95, 0.664);
}
 
.container-mytrainee,
.container-close {
    display: none;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid rgba(179, 179, 179, 0.486);
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    background-color: rgb(57, 57, 57);
    position: absolute;
    height: 25rem;
    width: 19rem;
    animation-name: ngiaongiao;
    animation-duration: .8s;
    animation-iteration-count: 1;
    
}


.inner-close,
.inner-mytrainee {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}

@keyframes ngiaongiao {
    0% {
        left: 140%;
        opacity: 0;
        transform: rotate(15deg) translate(-100%, -50%);
    }
}

#trcontentForAtt-close,
#trcontentForAtt {
    text-align: center;
    margin-top: 1rem;
    width: 80%;
    height: 15rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: .7rem;
    place-items: center;
    padding-bottom: 2rem;


}
.resClose{
    margin-top: 5rem;
    font-size: .9rem;
}
.resOpen{
    margin-top: 5rem;
    font-size: .9rem;
}
.resOpen span{
    font-weight: 900;
    color:rgba(0, 255, 136, 0.788) ;
}
.resClose span{
    font-weight: 900;
    color: rgb(255 26 26 / 83%);
}
#trcontentForAtt::-webkit-scrollbar {
    display: none;
}
#trcontentForAtt-close::-webkit-scrollbar {
    display: none;
}

.headAtt-close,
.headAtt {
    column-gap: .5rem;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.headAtt-close button,
.headAtt button {
    width: 6rem;
    border: none;
    background: none;
    color: white;
    font-size: .8rem;
    margin-top: 1rem;
    position: relative;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.headAtt button::after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 0;
    background-color: rgb(0 255 138 / 61%);
    height: .13rem;
    transition: .3s;
}

.headAtt-close button::after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 0;
    background-color: rgb(255 26 26 / 61%);
    height: .13rem;
    transition: .3s;
}

.headAtt button:hover::after {
    width: 100%;

}

.headAtt-close button:hover::after {
    width: 100%;

}

.onBeff2::after {
    width: 100% !important;
}
.onBeff::after {
    width: 100% !important;
}

#trcontentForAtt-close li,
 #trcontentForAtt li {

    border-radius: .3rem;
    align-items: center;
    height: 3.3rem;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    column-gap: .3rem;
    border: 1px solid rgba(179, 179, 179, 0.486);

}

#trcontentForAtt-close li i,
#trcontentForAtt li i {
    cursor: pointer;
    padding: .3rem;
}

#trcontentForAtt li i:hover {
    opacity: 50%;
}

#trcontentForAtt-close li i:hover {
    opacity: 50%;
}

.myTrInAtt h4 {

    width: 4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myTrInAtt {
    width: 6rem;
}

#trcontentForAtt-close li img,
#trcontentForAtt li img {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    border: 1.4px solid rgba(179, 179, 179, 0.486);

}


.forAll {
    height: 100%;
    width: 100%;
    display: grid;
}


#openForAllExe,#closeForAllExe {
    cursor: pointer;
    color: white;
    border-radius: .3rem;
    border: 1px solid rgba(179, 179, 179, 0.486);
    background-color: rgba(0, 0, 0, 0.1);
    transition: .3;
}

#openForAllExe:hover {
    background-color: rgba(0, 0, 0, 0.226);
}
#closeForAllExe:hover {
    background-color: rgba(0, 0, 0, 0.226);
}


.imgInAtt {
    display: grid;
    place-items: center;
}


.attendanceAction{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}


.attendanceAction button{
    padding: .7rem 2rem;

}

#fetch{
    top: 6rem;
    font-size: .8rem;
    position: absolute;
    color: rgba(255, 255, 255, 0.658);
    cursor: pointer;
    border-radius: .3rem;
    border: 1px solid rgba(179, 179, 179, 0.486);
    background-color: rgba(0, 0, 0, 0.1);
    padding: .2rem 1rem;
}

#fetch:hover {
    color: white;
    background-color: rgba(78, 78, 78, 0.39);
}








