.status .headStatus button::after {
    background-color: #b376ff !important;
}

.status .headStatus button:hover {
    color: #b376ff !important;
}

.status .headStatus button:hover {
    color: #b376ff !important;
}

.on-status-button {

    color: #b376ff !important;
}

#toplab2:hover {
    cursor: ew-resize;
    color: #b376ff !important;
}

.sideP ul a:hover {
    color: #b376ff;
}

.sideP ul a:hover a {
    color: #b376ff !important;
}

.on {
    color: #b376ff !important;

}

#toplab2:hover {
    cursor: ew-resize;
    color: #b376ff;
}

.profSide h2::before {
 
    color: #b376ff;
}

#callN{

}
.imgLabeling{
    position: relative;
    height: 6rem;
    width: 6rem;
}


#sidepicUser{
    position: absolute;
    z-index: 1;
    height: 3.2rem;
    width: 3.2rem;
    border: solid 3px #b376ff;
    border-radius: 50%;
    background: rgb(57, 57, 57);
    right:-1.5rem;
    bottom:-.2rem
}


#students li .pfront p {
    font-size: .75rem;
}